src/main/app/bulkrecordusagem.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:dw="http://www.mulesoft.org/schema/mule/ee/dw" xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns:tracking="http://www.mulesoft.org/schema/mule/ee/tracking" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:spring="http://www.springframework.org/schema/beans" 
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-current.xsd
http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/ee/tracking http://www.mulesoft.org/schema/mule/ee/tracking/current/mule-tracking-ee.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/ee/dw http://www.mulesoft.org/schema/mule/ee/dw/current/dw.xsd">
    <flow name="bulkRecordUsageM" processingStrategy="synchronous">
        <logger level="INFO" doc:name="Start of Flow Logger" category="com.merrillcorp.logging.bulkrecordusagem" message="Entered_Flow=#[flow.name]  MessageId=#[message.id]"/>
        <dw:transform-message doc:name="Transform Message">
            <dw:set-payload><![CDATA[%dw 1.0
%input payload application/java
%output application/xml
%namespace soap http://schemas.xmlsoap.org/soap/envelope/
%namespace aria urn:client:api:wsdl:document/literal_wrapped:vers:11.0:aria_complete_m_api
%function dateOnly(value) value[0 .. 9]
%var lactiveDate = '2199-01-01' as :date {format: "yyyy-MM-dd"} when flowVars.ariaResponse.activeDate == null otherwise flowVars.ariaResponse.activeDate as :date {format: "yyyy-MM-dd"}
%var lstartDate = '2199-01-01' as :date {format: "yyyy-MM-dd"} when flowVars.messageIn.periodStart == null otherwise dateOnly(flowVars.messageIn.periodStart) as :date {format: "yyyy-MM-dd"}
%var clientseq = 1000
%function calcUnits(lprojectPhase, aDate, pDate, tHosted, tAdded) 0 when lprojectPhase == "Preparation"
otherwise 0 when (lprojectPhase == "Active" and aDate > pDate)
otherwise tHosted when (lprojectPhase == "Active" and aDate == pDate) 
otherwise tAdded when (aDate < pDate and lprojectPhase == "Active")
otherwise "Unknown Error"
---
{
	soap#Envelope: {
	  soap#Header: {},
	  soap#Body: {
			aria#bulk_record_usage_m: {
				client_no: p('aria.client_no'),
				auth_key: p('aria.auth_key'),
				usage_recs: { (sessionVars.usageRecords map { 
						usage_recs_row: { 
							acct_no: $.acct_no,
							master_plan_instance_no: $.master_plan_instance_no,
							client_master_plan_instance_id: $.client_master_plan_instance_id,
							plan_instance_no: $.plan_instance_no,
							client_plan_instance_id: $.client_plan_instance_id,
							usage_units: $.usage_units,
							usage_date: $.usage_date,
    					    usage_type_code: $.usage_type_code,
						    client_record_id: clientseq + $$	
						}
						})
					}
				}
			}
		}
		}
		]]></dw:set-payload>
        </dw:transform-message>
        <http:request config-ref="HTTP_Aria_Configuration" path="${aria.path}" method="POST" doc:name="HTTP">
            <http:request-builder>
                <http:header headerName="SOAPAction" value="&quot;bulk_record_usage_m&quot;"/>
            </http:request-builder>
        </http:request>
        <logger level="INFO" doc:name="End of Flow Logger" category="com.merrillcorp.logging.bulkrecordusagem" message="Completed_Flow=#[flow.name]  MessageId=#[message.id]"/>
    </flow>
</mule>
