src/main/app/createorderm.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:dw="http://www.mulesoft.org/schema/mule/ee/dw" xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns:tracking="http://www.mulesoft.org/schema/mule/ee/tracking" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:spring="http://www.springframework.org/schema/beans" 
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-current.xsd
http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/ee/tracking http://www.mulesoft.org/schema/mule/ee/tracking/current/mule-tracking-ee.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/ee/dw http://www.mulesoft.org/schema/mule/ee/dw/current/dw.xsd">
    <flow name="createOrderM-NonClosure" processingStrategy="synchronous">
        <logger level="INFO" doc:name="Start of Flow Logger" category="com.merrillcorp.logging.createorderm" message="Entered_Flow=#[flow.name]  MessageId=#[message.id]"/>
        <byte-array-to-string-transformer doc:name="Byte Array to String"/>
        <http:request config-ref="HTTP_Aria_Configuration" path="${aria.path}" method="POST" doc:name="HTTP">
            <http:request-builder>
                <http:header headerName="SOAPAction" value="&quot;create_order_m&quot;"/>
            </http:request-builder>
        </http:request>
        <byte-array-to-object-transformer doc:name="Byte Array to Object"/>
        <logger message="Back from Aria - Closure WorkOrder Create #[message.payloadAs(java.lang.String)]" level="DEBUG" category="com.merrillcorp.logging.createorderm" doc:name="Logger"/>
        <set-payload value="#[payload]" mimeType="application/xml" doc:name="Set Payload"/>
        <logger level="INFO" doc:name="End of Flow Logger" category="com.merrillcorp.logging.createorderm" message="Completed_Flow=#[flow.name]  MessageId=#[message.id]"/>
    </flow>
    <flow name="createOrderM-Closure" processingStrategy="synchronous">
        <logger message="Entered_Flow=#[flow.name]  MessageId=#[message.id]" level="INFO" category="com.merrillcorp.logging.createorderm" doc:name="Start of Flow Logger"/>
        <byte-array-to-string-transformer doc:name="Byte Array to String"/>
        <http:request config-ref="Aria_Workflow_Request_Configuration" path="${aria.closure.path}" method="POST" doc:name="HTTP">
            <http:request-builder>
                <http:query-param paramName="SPLIT_BILLING_ACCOUNTS" value="#[flowVars.splitBillingAccount]"/>
            </http:request-builder>
        </http:request>
        <byte-array-to-object-transformer doc:name="Byte Array to Object"/>
        <logger message="Back from Aria - Closure WorkOrder Create #[message.payloadAs(java.lang.String)]" level="DEBUG" category="com.merrillcorp.logging.createorderm" doc:name="Logger"/>
        <set-payload value="#[payload]" mimeType="application/xml" doc:name="Set Payload"/>
        <logger message="Completed_Flow=#[flow.name]  MessageId=#[message.id]" level="INFO" category="com.merrillcorp.logging.createorderm" doc:name="End of Flow Logger"/>
    </flow>
</mule>
